package foo

import "github.com/arnavmahajan630/GOTTH-TEMPLATE/views/layouts"

templ Index() {
    @layouts.Base() {
       <div class="text-xl text-blue-500 font-bold">let's check for the color</div>
    }
}